/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */

/*------------------------------------*\
    MEDIA QUERIES REFERENCE
\*------------------------------------*/
/** 
 * A reference to the inuit media queries setup
 * These show the widths set in the default settings in inuit/_defaults.scss
 * Usage example @include media-query(palm) {}

    @include media-query(palm) {
        max-width = 480px (lap-start - 1)
    }

    @include media-query(lap) {
        min-width = 480px (lap-start) and max-width = 1023px (lap-end)
    }

    @include media-query(lap-and-up) {
        min-width = 480px (lap-start)
    }

    @include media-query(portable) {
        max-width = 1023px (lap-end)
    }

    @include media-query(desk-narrow) {
        min-width = 960px (desk-narrow-start)
    }

    @include media-query(desk-narrow-max) {
        max-width = 959px (desk-narrow-start - 1)
    }

    @include media-query(desk) {
        min-width = 1024px (desk-start)
    }

    @include media-query(desk-max) {
        max-width = 1023px (desk-start - 1)
    }

    @include media-query(desk-wide) {
        min-width = 1200px (desk-wide-start)
    }

    @include media-query(desk-wide-max) {
        max-width = 1199px (desk-wide-start - 1)
    }

*/

/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    true;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;



/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.

 /*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
$debug-mode:false;
 
 /*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * Brand stuff
 */

$brand-color:    #9ab384;
$brand-face: 'Open Sans', sans-serif; // body text
$brand-face-secondary: 'Playfair Display' serif; // decorative, headers
$brand-round: 2px;

[class*="--radius"] {
    border-radius:$brand-round;
}

$brand-cubic-bezier: cubic-bezier(.6, .15, .2, 1);

/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
$responsive-extra:true;

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
$transitionable-prefixed-values: transform, transform-origin, filter;
$heading-selectors: 'h1,h2,h3,h4,h5,h6,.alpha,.beta,.gamma,.delta,.epsilon,.zeta';

 /*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
$site-max-width: 67.5em; //80em;
$site-narrow-width: 67.5em;
$site-x-narrow-width: 55em;
$site-width:95%;
$content-max-width:46em;
$paragraph-max-width: 35em;
   
 /*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/

/**
 * Usage example @media ($breakpoint-medium) {}
 * Can be used in the grid setup - see generic/_widths..scss
 */
$breakpoint-medium: unquote("min-width: 37.5em");
$breakpoint-medium-max: unquote("max-width: 37.49em");
$breakpoint-wide-medium: unquote("min-width: 48em");
$breakpoint-wide-medium-max: unquote("max-width: 48.99em");
$breakpoint-wide: unquote("min-width: 52.5em");
$breakpoint-wide-max: unquote("max-width: 52.4375em");
// $breakpoint-large: unquote("min-width: X"); 
// $breakpoint-large-max: unquote("max-width: X"); 
// $breakpoint-wide-large: unquote("min-width: X"); 
// $breakpoint-wide-large-max: unquote("max-width: X");
$nav-width: 1000px;
$nav-width-max: ($nav-width - 1);
$breakpoint-nav: unquote("min-width: #{$nav-width}");
$breakpoint-nav-max: unquote("max-width: #{($nav-width - 1)}");

 /*------------------------------------*\
    $FONT WEIGHTS
\*------------------------------------*/
$bold:700;
$medium:600;
$light:500;
$extra-light:400;

 /*------------------------------------*\
    $FONT SIZES
\*------------------------------------*/
/*
panel titles, large buttons
24px

footer titles
18px

paragraph, featured products, sub menu links
16px

small caps, main navigation links
14px

footer copyright/links
12px
*/

$giga-size:         60px!default;
$mega-size:         48px!default;
$kilo-size:         36px!default;

$h1-size:           24px; // .alpha
$h2-size:           22px!default; // .beta
$h3-size:           20px!default; // .gamma
$h4-size:           18px!default; // .delta
$h5-size:           18px!default; // .epsilon
$h6-size:           16px!default; // .zeta

$milli-size:        12px!default;
$micro-size:        10px!default;

 /*------------------------------------*\
    $COLORS
\*------------------------------------*/
$primary: #252f1d; // dark green, generally text and headers
$primary-dark: #12160e;
$secondary: $brand-color; // main green
$secondary-dark: #5f774a;
$secondary-tri-one: #b3849a; // triadic color
$secondary-tri-two: #849ab3; // triadic color
$tertiary: #f4f6f1; // very light green

$caret: #838383;
$divider:rgba(#9099a3, .2);
$divider-alt:#5bafe3;
$featured-title-bg:rgba(#556270, .8);

$orange: #f17448;
$green: #60b99a;

$google-red: #dd4b39;
$facebook-blue: #3b5998;
$twitter-blue: #55acee;

$form-bg: #f5f5f5; // most likely will be too light, will probably need to be $tertiary.
$form-border-top: rgba(black, .2);
$form-border: #bfbfbf;
$form-border-alt: $secondary-dark;

$secondary-gradient:linear-gradient(135deg, #42b1c4, #3388bb 66%);

 /*------------------------------------*\
    $BACKGROUNDS
\*------------------------------------*/

 /*--------------------*\
    $SOLIDS
\*--------------------*/
[class*="--background-white"] {
    background-color:white; //999999
    color:$primary;

    &.btn {
        color:$secondary;
    }

    &.link:hover, &.link:active, &.btn:active, &.btn:hover {
        background-color:scale-color(#fff, $lightness: -15%);
    }
}
[class*="--background-primary"] {
    background-color:$primary;
    color:$primary-dark;

    &.btn {
        border-color:$primary-dark;
    }

    &.btn:active, &.btn:hover {
        border-color:scale-color($primary-dark, $lightness: 15%);
    }

    &.link:hover, &.link:active, &.btn:active, &.btn:hover {
        background-color:scale-color($primary-dark, $lightness: 15%);
    }
}
[class*="--background-primary-dark"] {
    background-color:$primary-dark;
    color:$primary;

    &.btn {
        border-color:$primary;
    }

    &.btn:active, &.btn:hover {
        border-color:scale-color($primary, $lightness: 15%);
    }

    &.link:hover, &.link:active, &.btn:active, &.btn:hover {
        background-color:scale-color($primary, $lightness: 15%);
    }
}
[class*="--background-secondary"] {
    background-color:$secondary;
    color:#fff;

    &.btn {
        border-color:$secondary-dark;
    }

    &.btn:active, &.btn:hover {
        border-color:scale-color($secondary-dark, $lightness: 15%);
    }

    &.link:hover, &.link:active, &.btn:active, &.btn:hover {
        background-color:scale-color($secondary-dark, $lightness: 15%);
    }
}
[class*="--background-secondary-tri-one"] {
    background-color:$secondary-tri-one;
    color:#fff;

    &.btn {
        border-color:$secondary-tri-one;
    }

    &.btn:active, &.btn:hover {
        border-color:scale-color($secondary-tri-one, $lightness: 15%);
    }

    &.link:hover, &.link:active, &.btn:active, &.btn:hover {
        background-color:scale-color($secondary-tri-one, $lightness: 15%);
    }
}
[class*="--background-secondary-tri-two"] {
    background-color:$secondary-tri-two;
    color:#fff;

    &.btn {
        border-color:$secondary-tri-two;
    }

    &.btn:active, &.btn:hover {
        border-color:scale-color($secondary-tri-two, $lightness: 15%);
    }

    &.link:hover, &.link:active, &.btn:active, &.btn:hover {
        background-color:scale-color($secondary-tri-two, $lightness: 15%);
    }
}
[class*="--background-secondary-dark"] {
    background-color:$secondary-dark;
    color:$secondary;

    &.btn {
        border-color:$secondary;
    }

    &.btn:active, &.btn:hover {
        border-color:scale-color($secondary, $lightness: 15%);
    }

    &.link:hover, &.link:active, &.btn:active, &.btn:hover {
        background-color:scale-color($secondary, $lightness: 15%);
    }
}
[class*="--background-tertiary"] {
    background-color:$tertiary;
    color:$primary;

    &.btn {
        border-color:$primary;
    }

    &.btn:active, &.btn:hover {
        border-color:scale-color($primary, $lightness: 15%);
    }

    &.link:hover, &.link:active, &.btn:active, &.btn:hover {
        background-color:scale-color($primary, $lightness: 15%);
    }
}
[class*="--background-brand"] {
    background-color:$brand-color;
    color:#fff;

    #{$heading-selectors} {
      color:#fff;
    }

    &.btn {
        border-color:scale-color($brand-color, $lightness: 25%);
    }

    &.btn:active, &.btn:hover {
        border-color:scale-color($primary, $lightness: 15%);
    }

    &.link:hover, &.link:active, &.btn:active, &.btn:hover {
        background-color:scale-color($primary, $lightness: 15%);
    }
}

 /*------------------------------------*\
    $FOREGROUNDS
\*------------------------------------*/

[class*="--white"] {
  color:#fff !important;
}
[class*="--orange"] {
  color:$orange !important;
}
[class*="--green"] {
  color:$green !important;
}
[class*="--blue"] {
  color:$secondary !important;
}

 /*--------------------*\
    $GRADIENTS
\*--------------------*/
[class*="--background-secondary-grad"] {
    background:$secondary-gradient;
  color:#fff;

    #{$heading-selectors} {
      color:#fff;
    }
}

 /*--------------------*\
    $IMAGES
\*--------------------*/
[class*="--background-image-dev"] {
    background-color:$primary; /* fallback colour */
    background-image: image-url('banners/banner.jpg');
    color:#fff;

    /*@media
      only screen and (min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) {
        background-image: image-url('banners/superhero-small@2x.jpg');
    }

    @media (min-width:800px) {
        background-image: image-url('banners/superhero.jpg');

        @media
          only screen and (min-device-pixel-ratio: 2),
          only screen and (   min--moz-device-pixel-ratio: 2),
          only screen and (     -o-min-device-pixel-ratio: 2/1),
          only screen and (        min-device-pixel-ratio: 2),
          only screen and (                min-resolution: 192dpi),
          only screen and (                min-resolution: 2dppx) {
            background-image: image-url('banners/superhero@2x.jpg');
        }
    }*/
}

/*------------------------------------*\
    $SHADOWS
\*------------------------------------*/
// shadow variables
$shadow-color: $primary-dark;
$shadow-color-light: $primary;
$secondary-shadow-color: $secondary-dark;

// shadows - bottom sides only
$shadow-bottom: 0 1px rgba($shadow-color, .6), 0 1px 3px $shadow-color;
$shadow-bottom-light: 0 .5px rgba($shadow-color-light, .6), 0 1px 4px rgba($shadow-color-light, .3);
// shadows - all sides
$shadow-full: 0 3px 4px $shadow-color;
$shadow-full-light: 0 3px 4px $shadow-color-light;
// secondary shadows - bottom sides only
$shadow-secondary-bottom: 0 1px rgba($secondary-shadow-color, .8);

/*$form-shadow: 
    inset 0 1px $form-border-dark,
    inset 0 0 0 1px $form-border,
    inset 0 1px 1px rgba($form-border-dark, .75);*/

// shadow mixins
@mixin shadow-bottom() {
    box-shadow: $shadow-bottom;
}
@mixin shadow-bottom-light() {
    box-shadow: $shadow-bottom-light;
}
@mixin shadow-full() {
    box-shadow: $shadow-full;
}
@mixin shadow-full-light() {
    box-shadow: $shadow-full-light;
}
@mixin shadow-secondary-bottom() {
    box-shadow: $shadow-secondary-bottom;
}
@mixin form-shadow($colour) {
    box-shadow:inset 0 1px scale-color($colour, $lightness: -15%),
    inset 0 0 0 1px $colour,
    inset 0 1px 1px rgba(scale-color($colour, $lightness: -15%), .75);
}
