 /*------------------------------------*\
    $HELPER
\*------------------------------------*/
/**
 * Force inline elements to display block - useful for stuff like spans
 */
 .display-block {
 	display:block;
 }

.vertical-align-middle {
	display: inline-block;
	vertical-align: middle;
}
.flex-vertical-align-middle {
	display:flex;
	align-items:center;
} 

.vertical-align-top {
	display: inline-block;
	vertical-align: top;
}

.vertical-align-bottom {
	display: inline-block;
	vertical-align: bottom;
}

.word-break {
	word-break:break-all;
}

/**
 * Make background images fixed position - simple parallax effect
 */
[class*="--parallax"] {
	background-attachment:fixed;
}

//http://alistapart.com/article/creating-intrinsic-ratios-for-video/
.wrapper-stretch {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	
	@media ($breakpoint-medium) {
		padding-bottom: 33%;
	}
}

.stretch-element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vtop {
	vertical-align: top !important;
}
.vbottom {
	vertical-align:bottom !important;
}
.vmiddle {
	vertical-align: middle !important;
}

// Font families
// ---------------------------
.text-sans { font-family:$brand-face; }
.text-serif { font-family:$brand-face-secondary; }

// Font weights
// ---------------------------
.weight--bold {
	font-weight:$bold;
}
.weight--medium {
	font-weight:$medium;
}
.weight--light {
	font-weight:$light;
}
.weight--extra-light {
	font-weight:$extra-light;
}

// All data-href
// ---------------------------
[data-href] { 
  cursor:pointer;
}

// Font size zero
// ---------------------------
.font-zero {
	font-size:0;
}

// Center images
// ---------------------------
.img--auto-sides {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

// EM to PX
// ---------------------------
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}